// Main Body
main {
  @include flex-custom(row, center, center);
  height: 110em;
  width: 100vw;

  .main_container {
    @include flex-custom(column, space-evenly, center);
    margin-top: 1.5rem !important;
    height: 100%;
    width: 75em;
    max-width: 75em;

    // Left side | Image Section
    .image_section {
      min-width: 350px;
      max-width: 550px;
      width: 80%;
      height: 100%;

      .image_primary {
        @include flex-custom(row, center, center);
        height: 500px;
        svg {
          cursor: pointer;
          font-size: 30px;
          color: rgba(128, 128, 128, 0.8);
        }
        img {
          height: 90%;
          width: 90%;
          object-fit: contain;
        }
      }

      .image_secondary {
        @include flex-custom(row, center, center);
        height: 75px;
        img {
          height: 100%;
          &:hover {
            cursor: pointer;
          }
        }
        img:first-of-type {
          border: 2px solid $brand_purple;
        }
      }
    }

    // Right side | Product Details Section
    .option_section {
      min-width: 350px;
      width: 90%;

      // Description Section
      .main_description {
        height: 130px;
        h1 {
          font-size: 20px;
          font-family: proximaBold;
        }
        p {
          margin: 15px 0 !important;
          b {
            font-size: 18px;
            font-family: proximaBold;
          }
        }
        h2 {
          margin: 0.2rem;
          font-size: 12px;
          font-weight: 500;
          color: rgb(0, 145, 0);
          svg {
            color: rgb(0, 145, 0);
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }

      // Dropdown Section
      .main_dropdowns {
        margin: 25px 0;
        p {
          margin: 10px 0;
          font-size: 0.9rem;
          font-family: proximaBold;
        }
        .dropdown_menu {
          border: 0.5px solid rgba(105, 105, 105, 0.473);
          width: 100%;
          position: relative;
          display: flex !important;
          flex-direction: row !important;
          align-items: center;
          .text {
            @include flex-custom(row, flex-start, center);
            padding-left: 1rem;
            width: 85%;
            img {
              max-height: 50px !important;
              position: relative;
              right: 1rem;
            }
            .dropdown_titles {
              @include flex-custom(column, center, flex-start);
              float: left;
              position: relative;
              right: 1rem;
              font-size: 12px !important;
              .desc_amount {
                color: rgba(163, 163, 163, 0.6);
              }
            }
          }

          // Dropdown Box
          .menu {
            width: 100%;
            #item {
              position: relative;
              padding: 0 !important;
              display: flex !important;
              //   Custom Semantic UI Dropdown img
              img {
                height: 100% !important;
                max-height: 50px !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
              }
              .dropdown_titles {
                @include flex-custom(column, center, flex-start);
                .description {
                  color: rgba(114, 114, 114, 0.486);
                }
              }
            }
          }
        }
      }

      // Add On Section
      .cartsection_addOns {
        display: none;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 0.1rem 0;
            span {
              font-weight: 700;
            }
          }
          li:first-of-type {
            display: block;
            font-weight: 800;
          }
        }
        p {
          margin: 1rem 0;
        }
      }

      // Quantity Section
      .cartsection_quantity {
        @include flex-custom(row, flex-start, center);
        * {
          margin: 0;
        }
        height: 90px;
        p {
          margin-left: 40px;
          margin-top: 15px;
          font-size: 14px;
          b {
            font-size: 16px;
          }
        }

        // Counter
        .quantity_counter {
          p {
            margin: 0;
            font-family: proximaBold;
            font-size: 12px;
          }
          section {
            display: flex;
            width: 80px;
            .counters {
              display: flex;
              flex-direction: column;
              border: 1px solid rgba(107, 107, 107, 0.459);
              position: relative;
              left: 5px;
              div {
                @include flex-custom(row, center, center);
                height: 21px;
                width: 30px;
                &:first-of-type {
                  border-bottom: 1px solid rgba(107, 107, 107, 0.459);
                }
                &:hover {
                  background-color: rgb(235, 235, 235);
                  cursor: pointer;
                }
              }
            }
            input {
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
              }
              -webkit-appearance: textfield;
              -moz-appearance: textfield;
              appearance: textfield;
              height: 40px;
              width: 45px;
              outline: none;
              border: none;
              box-sizing: initial;
              border: 1px solid rgba(107, 107, 107, 0.459);
            }
          }
        }
      }

      // CTA | Heart Button Section
      .cartsection_buttons {
        @include flex-custom(row, space-between, center);
        height: 60px;
        width: 100%;
        button {
          font-family: inherit;
          background-color: #ddd;
          height: 45px;
          flex-grow: 0.97;
          min-width: 280px;
          border: none;
          outline: none;
          color: #fff;
          transition: 0.3s ease;
          font-weight: 600;
          &:hover {
            cursor: pointer;
            background-color: $brand_purple;
          }
        }
        div {
          @include flex-custom(row, center, center);
          border: 1px solid #ddd;
          height: 45px;
          min-width: 47px;
          transition: 0.4s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: $brand_purple;
            border: 1px solid $brand_purple;
          }
        }
        svg {
          @include flex-custom(row, center, center);
          color: #ddd;
          height: 18px;
          width: 18px;
          box-sizing: border-box;
        }
      }

      // Benefit List Section
      .cartsection_benefits {
        border: 3px dotted rgba(80, 80, 80, 0.466);
        margin: 1rem 0;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 1rem 1rem 1rem 1rem;
        }
      }

      // Social Buttons Section
      .cartsection_socials {
        @include flex-custom(row, flex-start, center);
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 60px;
        font-weight: 500;
        font-size: 13px;
        svg {
          margin-left: 20px;
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
