@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

@media only screen and (min-width: 900px) {
  main {
    height: 80em !important;
    .main_container {
      flex-direction: row !important;
      .option_section {
        max-width: 360px;
      }
      .image_section {
        max-width: 500px !important;
      }
    }
  }
}
