main {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110em;
  width: 100vw;
}

main .main_container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem !important;
  height: 100%;
  width: 75em;
  max-width: 75em;
}

main .main_container .image_section {
  min-width: 350px;
  max-width: 550px;
  width: 80%;
  height: 100%;
}

main .main_container .image_section .image_primary {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

main .main_container .image_section .image_primary svg {
  cursor: pointer;
  font-size: 30px;
  color: rgba(128, 128, 128, 0.8);
}

main .main_container .image_section .image_primary img {
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .main_container .image_section .image_secondary {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

main .main_container .image_section .image_secondary img {
  height: 100%;
}

main .main_container .image_section .image_secondary img:hover {
  cursor: pointer;
}

main .main_container .image_section .image_secondary img:first-of-type {
  border: 2px solid #250858;
}

main .main_container .option_section {
  min-width: 350px;
  width: 90%;
}

main .main_container .option_section .main_description {
  height: 130px;
}

main .main_container .option_section .main_description h1 {
  font-size: 20px;
  font-family: proximaBold;
}

main .main_container .option_section .main_description p {
  margin: 15px 0 !important;
}

main .main_container .option_section .main_description p b {
  font-size: 18px;
  font-family: proximaBold;
}

main .main_container .option_section .main_description h2 {
  margin: 0.2rem;
  font-size: 12px;
  font-weight: 500;
  color: #009100;
}

main .main_container .option_section .main_description h2 svg {
  color: #009100;
  font-size: 14px;
  margin-right: 5px;
}

main .main_container .option_section .main_dropdowns {
  margin: 25px 0;
}

main .main_container .option_section .main_dropdowns p {
  margin: 10px 0;
  font-size: 0.9rem;
  font-family: proximaBold;
}

main .main_container .option_section .main_dropdowns .dropdown_menu {
  border: 0.5px solid rgba(105, 105, 105, 0.473);
  width: 100%;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .text {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  width: 85%;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .text img {
  max-height: 50px !important;
  position: relative;
  right: 1rem;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .text .dropdown_titles {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  float: left;
  position: relative;
  right: 1rem;
  font-size: 12px !important;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .text .dropdown_titles .desc_amount {
  color: rgba(163, 163, 163, 0.6);
}

main .main_container .option_section .main_dropdowns .dropdown_menu .menu {
  width: 100%;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .menu #item {
  position: relative;
  padding: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .menu #item img {
  height: 100% !important;
  max-height: 50px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .menu #item .dropdown_titles {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main_container .option_section .main_dropdowns .dropdown_menu .menu #item .dropdown_titles .description {
  color: rgba(114, 114, 114, 0.486);
}

main .main_container .option_section .cartsection_addOns {
  display: none;
}

main .main_container .option_section .cartsection_addOns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main .main_container .option_section .cartsection_addOns ul li {
  padding: 0.1rem 0;
}

main .main_container .option_section .cartsection_addOns ul li span {
  font-weight: 700;
}

main .main_container .option_section .cartsection_addOns ul li:first-of-type {
  display: block;
  font-weight: 800;
}

main .main_container .option_section .cartsection_addOns p {
  margin: 1rem 0;
}

main .main_container .option_section .cartsection_quantity {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

main .main_container .option_section .cartsection_quantity * {
  margin: 0;
}

main .main_container .option_section .cartsection_quantity p {
  margin-left: 40px;
  margin-top: 15px;
  font-size: 14px;
}

main .main_container .option_section .cartsection_quantity p b {
  font-size: 16px;
}

main .main_container .option_section .cartsection_quantity .quantity_counter p {
  margin: 0;
  font-family: proximaBold;
  font-size: 12px;
}

main .main_container .option_section .cartsection_quantity .quantity_counter section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

main .main_container .option_section .cartsection_quantity .quantity_counter section .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(107, 107, 107, 0.459);
  position: relative;
  left: 5px;
}

main .main_container .option_section .cartsection_quantity .quantity_counter section .counters div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21px;
  width: 30px;
}

main .main_container .option_section .cartsection_quantity .quantity_counter section .counters div:first-of-type {
  border-bottom: 1px solid rgba(107, 107, 107, 0.459);
}

main .main_container .option_section .cartsection_quantity .quantity_counter section .counters div:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

main .main_container .option_section .cartsection_quantity .quantity_counter section input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  height: 40px;
  width: 45px;
  outline: none;
  border: none;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  border: 1px solid rgba(107, 107, 107, 0.459);
}

main .main_container .option_section .cartsection_quantity .quantity_counter section input::-webkit-inner-spin-button, main .main_container .option_section .cartsection_quantity .quantity_counter section input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

main .main_container .option_section .cartsection_buttons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}

main .main_container .option_section .cartsection_buttons button {
  font-family: inherit;
  background-color: #ddd;
  height: 45px;
  -webkit-box-flex: 0.97;
      -ms-flex-positive: 0.97;
          flex-grow: 0.97;
  min-width: 280px;
  border: none;
  outline: none;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
}

main .main_container .option_section .cartsection_buttons button:hover {
  cursor: pointer;
  background-color: #250858;
}

main .main_container .option_section .cartsection_buttons div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  height: 45px;
  min-width: 47px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main .main_container .option_section .cartsection_buttons div:hover {
  cursor: pointer;
  background-color: #250858;
  border: 1px solid #250858;
}

main .main_container .option_section .cartsection_buttons svg {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ddd;
  height: 18px;
  width: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .main_container .option_section .cartsection_benefits {
  border: 3px dotted rgba(80, 80, 80, 0.466);
  margin: 1rem 0;
}

main .main_container .option_section .cartsection_benefits ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 1rem 1rem 1rem;
}

main .main_container .option_section .cartsection_socials {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 60px;
  font-weight: 500;
  font-size: 13px;
}

main .main_container .option_section .cartsection_socials svg {
  margin-left: 20px;
  font-size: 20px;
}

main .main_container .option_section .cartsection_socials svg:hover {
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  main {
    height: 80em !important;
  }
  main .main_container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  main .main_container .option_section {
    max-width: 360px;
  }
  main .main_container .image_section {
    max-width: 500px !important;
  }
}

.nav_bar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.295);
}

.nav_bar img {
  width: 120px;
}

@font-face {
  src: url(../fonts/proximanova-regular-webfont.ttf);
  font-family: proximaRegular;
}

@font-face {
  src: url(../fonts/proximanova-bold-webfont.ttf);
  font-family: proximaBold;
}

body {
  padding: 0;
  margin: 0;
  font-family: proximaRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body hr {
  border-top: 0.5px solid rgba(160, 160, 160, 0.4);
  border-bottom: none;
}

.dropdown {
  height: 50px;
}

.heart_button_active {
  background-color: #250858;
}
/*# sourceMappingURL=style.css.map */