@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "./mediaQueries";
@import "./variables";
@import "./navBar";

// Regular Font
@font-face {
  src: url(../fonts/proximanova-regular-webfont.ttf);
  font-family: proximaRegular;
}

// Bold Font
@font-face {
  src: url(../fonts/proximanova-bold-webfont.ttf);
  font-family: proximaBold;
}

body {
  padding: 0;
  margin: 0;
  font-family: proximaRegular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  * {
    box-sizing: border-box;
  }
}

// Main Body
main {
  @include flex-custom(row, center, center);
  height: 110em;
  width: 100vw;
  //   border: 1px solid green;
  .main_container {
    @include flex-custom(column, space-evenly, center);
    // border: 2px solid orange;
    margin-top: 1rem !important;
    height: 100%;
    width: 75em;
    max-width: 75em;
    // margin: 0 auto;
    .image_section {
      //   border: 1px solid blue;
      min-width: 350px;
      max-width: 550px;
      width: 80%;
      height: 100%;
      .image_primary {
        @include flex-custom(row, center, center);
        // border: 1px solid black;
        height: 500px;
        width: 100%;
        svg {
          cursor: pointer;
          font-size: 30px;
          //   border: 1px solid red;
          color: rgba(128, 128, 128, 0.8);
        }
        img {
          //   border: 1px solid yellow;
          height: 90%;
          width: 90%;
          object-fit: contain;
        }
      }
      .image_secondary {
        @include flex-custom(row, center, center);
        // border: 1px solid black;
        height: 75px;
        width: 100%;
        img {
          //   border: 1px solid black;
          height: 100%;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .option_section {
      //   border: 1px solid red;
      min-width: 350px;
      width: 90%;
      height: 100%;
      .main_description {
        width: 100%;
        height: 150px;
        h1 {
          font-size: 20px;
          font-family: proximaBold;
        }
        p {
          margin: 15px 0 !important;
          b {
            font-size: 18px;
            font-family: proximaBold;
          }
        }
        h2 {
          font-family: inherit;
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: rgb(0, 145, 0);
          svg {
            color: rgb(0, 145, 0);
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }
      .main_dropdowns {
        // border: 1px solid blue;
        margin: 25px 0;
        p {
          margin: 10px 0;
          font-size: 0.9rem;
          font-family: proximaBold;
        }
        .dropdown_menu {
          border: 0.5px solid rgba(105, 105, 105, 0.473);
          width: 100%;
          position: relative;
          display: flex !important;
          flex-direction: row !important;
          align-items: center;
          .text {
            @include flex-custom(row, flex-start, center);
            padding-left: 1rem;
            width: 85%;
            margin-left: 0;
            height: 100%;
            img {
              max-height: 50px !important;
              position: relative;
              right: 1rem;
            }
            .dropdown_titles {
              @include flex-custom(column, center, flex-start);
              float: left;
              position: relative;
              right: 1rem;
              font-size: 12px !important;
              .desc_amount {
                color: rgba(163, 163, 163, 0.6);
              }
            }
          }
          .menu {
            width: 100%;
          }
          #item {
            position: relative;
            padding: 0 !important;
            display: flex !important;
            img {
              height: 100% !important;
              max-height: 50px !important;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
            }
            .dropdown_titles {
              @include flex-custom(column, center, center);
              .description {
                color: rgba(114, 114, 114, 0.486);
              }
            }
          }
        }
      }
      .cartsection_addOns {
        display: none;
        // border: 1px solid black;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 0.1rem 0;
            display: none;
          }
          li:first-of-type {
            display: block;
          }
        }
        p {
          margin: 1rem 0;
        }
      }
      .cartsection_quantity {
        @include flex-custom(row, flex-start, center);
        * {
          margin: 0;
        }
        height: 90px;
        p {
          margin-left: 40px;
          margin-top: 15px;
          font-size: 14px;
          b {
            font-size: 16px;
          }
        }
        .quantity_counter {
          p {
            margin: 0;
            font-family: proximaBold;
            font-size: 12px;
          }
          section {
            display: flex;
            flex-direction: row;
            width: 80px;
            margin: 5px 0;
            .counters {
              display: flex;
              flex-direction: column;
              border: 1px solid rgba(107, 107, 107, 0.459);
              height: 100%;
              position: relative;
              left: 5px;
              width: 35px;
              i {
                @include flex-custom(row, center, center);
                font-size: 10px;
                height: 21px;
                width: 30px;
                &:first-of-type {
                  border-bottom: 1px solid rgba(107, 107, 107, 0.459);
                }
                &:hover {
                  background-color: rgb(235, 235, 235);
                  cursor: pointer;
                }
              }
            }
            input {
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
              }
              -webkit-appearance: textfield;
              -moz-appearance: textfield;
              appearance: textfield;
              height: 40px;
              width: 45px;
              outline: none;
              border: none;
              box-sizing: initial;
              border: 1px solid rgba(107, 107, 107, 0.459);
            }
          }
        }
      }
      .cartsection_buttons {
        @include flex-custom(row, space-between, center);
        height: 60px;
        width: 100%;
        font-size: 14px !important;
        button {
          font-family: inherit !important;
          background-color: #ddd;
          height: 45px;
          flex-grow: 0.97;
          min-width: 280px;
          border: none;
          outline: none;
          font-size: inherit;
          color: #fff;
          font-weight: 600;
          &:hover {
            cursor: pointer;
            background-color: $brand_purple;
          }
        }
        i {
          @include flex-custom(row, center, center);
          height: 45px;
          min-width: 47px;
          color: #ddd;
          box-sizing: border-box;
          border: 1px solid #ddd;
          font-size: 16px;
          &:hover {
            cursor: pointer;
            background-color: $brand_purple;
            border: 1px solid $brand_purple;
          }
        }
      }
      .cartsection_benefits {
        border: 3px dotted rgba(80, 80, 80, 0.466);
        margin: 1rem 0;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 1rem 0.5rem 1rem 1rem;
        }
      }
      .cartsection_socials {
        @include flex-custom(row, flex-start, center);
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 60px;
        font-weight: 600;
        width: 100%;
        font-size: 13px;
        svg {
          margin-left: 20px;
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.dropdown {
  height: 50px;
}
